<div class="paging">
{if="isLoggedIn()"}
    <div id="paging_privatelinks">
        <a href="?privateonly">
		{if="$privateonly"}
		<img src="images/private_16x16_active.png#" width="16" height="16" title="Click to see all links" alt="Click to see all links">
		{else}
		<img src="images/private_16x16.png#" width="16" height="16" title="Click to see only private links" alt="Click to see only private links">
		{/if}
		</a>
    </div>
{/if}
{if="!empty($linkcount)"}{$linkcount} links{/if}
    <div id="paging_linksperpage">
        Links per page: <a href="?linksperpage=20">20</a> <a href="?linksperpage=50">50</a> <a href="?linksperpage=100">100</a>
        <form method="GET" style="display:inline;" class="linksperpage"><input type="text" name="linksperpage" size="2" style="height:15px;"></form>
    </div>
    {if="$next_page_url"} <a href="{$next_page_url}" id="paging_newer">&#x25C4;Previous</a> {/if}
    <div id="paging_current">page {$page_current} / {$page_max} </div>
    {if="$previous_page_url"} <a href="{$previous_page_url}" id="paging_older">Next&#x25BA;</a> {/if}
</div>