<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
{if="!empty($_GET['source']) && $_GET['source']=='bookmarklet'"}
{ignore} When called as a popup from bookmarklet, do not display menu. {/ignore}
{else}
      <div class="container">
        <div class="navbar-header">
          <a href="?" class="navbar-brand"><img src="images/logo.png#" alt="{$shaarlititle|htmlspecialchars}" title="{$shaarlititle|htmlspecialchars}"/>{$shaarlititle|htmlspecialchars}</a>
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>	
		</div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
			  {if="isLoggedIn()"}
		<li class="dropdown">
          <a role="button" data-toggle="dropdown" href="#">View<b class="caret"></b></a>
			<ul id="menu2" class="dropdown-menu" role="menu" >
                <li><a href="?do=tagcloud">Tag cloud</a></li>
                <li><a href="?do=picwall{$searchcrits}">Picture wall</a></li>
                <li><a href="?do=daily">Daily</a></li>
			    <li><a href="{$feedurl}?do=rss{$searchcrits}" class="nomobile"><i class="fa fa-rss fa-lg"></i> RSS</a></li>
                <li><a href="{$feedurl}?do=atom{$searchcrits}" class="nomobile"><i class="fa fa-rss fa-lg"></i> ATOM</a></li>	
			</ul>
        </li>
              {else}
				<li><a href="?" class="hidden-xs">Home</a></li>
                <li><a href="?do=tagcloud" class="hidden-xs">Tag cloud</a></li>
                <li><a href="?do=picwall{$searchcrits}" class="hidden-xs">Picture wall</a></li>
                <li><a href="?do=daily" class="hidden-xs">Daily</a></li>
			    <li><a href="{$feedurl}?do=rss{$searchcrits}" class="hidden-xs"><i class="fa fa-rss fa-lg"></i> RSS</a></li>
                <li><a href="{$feedurl}?do=atom{$searchcrits}" class="hidden-xs"><i class="fa fa-rss fa-lg"></i> ATOM</a></li>
		<li class="dropdown visible-xs">
          <a role="button" data-toggle="dropdown" href="#">View<b class="caret"></b></a>
			<ul id="menu2" class="dropdown-menu" role="menu" >
                <li><a href="?do=tagcloud">Tag cloud</a></li>
                <li><a href="?do=picwall{$searchcrits}">Picture wall</a></li>
                <li><a href="?do=daily">Daily</a></li>
			    <li><a href="{$feedurl}?do=rss{$searchcrits}" class="nomobile"><i class="fa fa-rss fa-lg"></i> RSS</a></li>
                <li><a href="{$feedurl}?do=atom{$searchcrits}" class="nomobile"><i class="fa fa-rss fa-lg"></i> ATOM</a></li>	
			</ul>
        </li>				
				{/if}
			  {if="isLoggedIn()"}
		<li><a href="?do=tools">Tools</a></li>
		<li><a href="?do=addlink"><b>Add link</b></a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">	
		<li><a href="?do=logout"><i class="fa fa-sign-out fa-lg" alt="logout" title="logout"></i></a></li>
		</ul>
            {else}
		</ul>
		<ul class="nav navbar-nav navbar-right">				
			<li><a href="?do=login"><i class="fa fa-sign-in fa-lg"  alt="login" title="login"></i></a></li>
			</ul>
				{/if}
		  
		</div><!--/.navbar-collapse -->
      </div>
{/if}
</div>
<div class="clear"></div>