<div id="footer">
    <b><a href="http://sebsauvage.net/wiki/doku.php?id=php:shaarli">Shaarli {$version|htmlspecialchars}</a></b> - by <a href="http://sebsauvage.net" target="_blank">sebsauvage.net </a>- Modified by <a href="https://bitbucket.org/raspidev/shaarli-raspidev" target="_blank">raspidev</a>.
</div>
<div id="footerlink"></div>
{if="$newversion"}
    <div id="newversion"><span style="text-decoration:blink;">&#x25CF;</span> Shaarli {$newversion|htmlspecialchars} is <a href="http://sebsauvage.net/wiki/doku.php?id=php:shaarli#download">available</a>.</div>
{/if}
{if="isLoggedIn()"}
<script language="JavaScript">function confirmDeleteLink() { var agree=confirm("Are you sure you want to delete this link ?"); if (agree) return true ; else return false ; }</script>
{/if}

{if="($GLOBALS['config']['OPEN_SHAARLI'] || isLoggedIn()) && empty($GLOBALS['disablejquery'])"}
<script language="JavaScript">
$(document).ready(function()
{
    $('#lf_tags').autocomplete({source:'{$source}?ws=tags',minLength:1});
    $('#searchtags').autocomplete({source:'{$source}?ws=tags',minLength:1});
    $('#fromtag').autocomplete({source:'{$source}?ws=singletag',minLength:1});
});
</script>
{/if}
